[User management] International email addresses aren't valid

### Steps to reproduce

Using an admin user:

Activate send email to new users checkbox
1. Create a new user with international email address.
### Expected behaviour

International email addresses are allowed.
### Actual behaviour

International email addresses (with Ñ,Ö,Ç..) are invalid.
### Server configuration

**Operating system**:
Ubuntu 14.04 LTS

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.5.9

**ownCloud version:** (see ownCloud admin page)
{"installed":true,"maintenance":false,"version":"8.0.0.1","versionstring":"8.0 alpha 1","edition":""}

**Updated from an older ownCloud or fresh install:**
fresh

**List of activated apps:**
none

**The content of config/config.php:**

```
Insert your config.php content here
(Without the database password and passwordsalt)
```

**Are you using external storage, if yes which one:** local/smb/sftp/...
no

**Are you using encryption:** no
### Client configuration

**Browser:**
Chrome, Firefox


@SergioBertolinSG is the php module intl installed and enabled?

Yes it is installed and enabled, version 1.1.0

which email address did you try?

björn@gmail.com españa@gmail.com that kind of addresses

hehe - even github fails to parse these emails properly :speak_no_evil: 

So it is not that hard to fix owncloud accepting the e-mail.
It is basically in the lib/private/mail/*.php files. And we do not convert idn stuff in for the user part of the e-mail address.
So like I said fixing is not that hard. But I do not know if swiftmailer accepts it then. Also this is something that should really be fixed in the swiftmailer :P

> So like I said fixing is not that hard. But I do not know if swiftmailer accepts it then. Also this is something that should really be fixed in the swiftmailer :P

swiftmailer is used from 8.1 on - this issue was filed as we did use phpmailer.



> björn@domain.com españa@domain.com that kind of addresses

I really question if these are valid email addresses - I did a quick research back in January and idn is specified for the domain - but for the user part: ????

RFC 6530, RFC 6531, RFC 6532, and RFC 6533 talks about this.
Gmail is supporting it http://googleblog.blogspot.com.es/2014/08/a-first-step-toward-more-global-email.html
But perhaps It's not worth implementing it.

Thanks for your input @SergioBertolinSG - we shall reevaluate this in oc8.1 - because we switched over to swiftmailer

@SergioBertolinSG Can you retest with 8.1 alpha3 ?

Still happening in 8.1 alpha3.

@nickvergessen wana have a look? THX

Not a lot we can do I guess. Swift says the email is invalid:
https://github.com/owncloud/3rdparty/blob/08b820614ae99477d7c9319630f400d22b20e2fd/swiftmailer/swiftmailer/lib/classes/Swift/Validate.php#L37-L40

or does swift have some kind of config for this? @LukasReschke 

thx @nickvergessen - let's file an issue upstream - can you please take care? THX

https://github.com/swiftmailer/swiftmailer/issues/608

THX @nickvergessen 

let's move this to 8.2

It has been fixed upstream in SwiftMailer 6.0 which is backwards incompatible and uses a thirdparty to validate the emails.

@nickvergessen @DeepDiver1975 how to move forward with this ?

swiftmailer 6.0 is no yet released - we have to postpone this until it has been release -> 9.0

> swiftmailer 6.0 is no yet released - we have to postpone this until it has been release -> 9.0

We are still in the same situation... @PVince81 @cmonteroluque 


@rullzer any planned date for swiftmailer 6.0? We will have to keep moving this

@cmonteroluque I have no idea. 

But looking at the changelog https://github.com/swiftmailer/swiftmailer/blob/master/CHANGES it also does not help short term as it requires php5.5

@MTRichards heads up

Agree on 9.1, swiftmailer 6 hasn't shipped and I don't see a lot of emails like this just yet. Lots of infrastructure can't handle this sort of an email. As we maintain components, update internals, we will want to roll this in in the future when it makes sense.

@cmonteroluque since there still isn't a new swiftmailer and we still support php 5.4 I see no way to get this into 9.1.

agreed

Seems we're still on swiftmailer 5.4 and 6.0 seems available on composer.

@DeepDiver1975 @tomneedham update ? Not sure if this would cause other side effects though...

looks like swiftmailer 6.0 would require PHP >= 7.0, apparently OC 10.0 still support PHP 5.6 so might not be possible to upgrade just now

can we jump straight to 7.2 so we upgrade doctrine/dbal? ;) cc @butonic 

From a PHP point of view, I would certainly see no point in supporting PHP 7.0 - anyone on that can "easily" move to PHP 7.1, and PHP 7.1 has more fun stuff - http://php.net/manual/en/migration71.new-features.php (my caveat here is that, for example, Ubuntu 16.04 LTS has PHP 7.0 and will only ever provide, by default, PHP 7.0.* updates - so users on various LTS *nix platforms would have to take specific action to "force-install" PHP 7.1)

PHP 7.2 is not actually released yet???

Hey, this issue has been closed because the label `status/STALE` is set and there were no updates for 7 days. Feel free to reopen this issue if you deem it appropriate.

(This is an automated comment from [GitMate.io](https://gitmate.io).)

we could update the lib on master as we intend to only support PHP >= 7.0 (or 7.1?) in the upcoming major OC version 10.1

@DeepDiver1975 will dependabot find this or do we need to update master's composer.json file to have 7.0 as minimum ? ^

should we then disable email validation or something ?

swift mailer was updated for master here https://github.com/owncloud/core/pull/29943, so with a bit of luck this will work now.

will assign to QA for verifying

> will assign to QA for verifying

a simple unit test shall help to verify .....

PR open - unit test shows that this is working now -> close as soon as merged