Sabre\DAV\Exception due to missing calendar timezone information

I've raised this issue at the Sabre bug tracker. There it is believed to be a bug at this end.

I will summarize it here. For more detailed information, examples etc. please look [there](https://github.com/fruux/sabre-dav/issues/770).

The snippet shown below queries the calender events that fall within a date range. It is similar to the example code in [RFC 4791 section 7.8.3](https://tools.ietf.org/html/rfc4791#section-7.8.3) and it does work with OC version prior to 8.1.0. (I've installed an tried them).
 
The query results in the Sabre exception _End of document reached prematurely_.
Unlike other issues resulting in this exception, it happens with freshly installed OC servers with events entered via the OC web interface.

I've tracked it down to the function `calendarQueryReport` in `/3rdparty/sabre/dav/lib/CalDAV/Plugin.php`. There it seems to query for the timezone of the calendar but comes up empty. This unexpected empty string leads to the exception.

As *I* don't know how all these parts interact with each other, evert suggested to raise the issue here.

Any hints?

Thanks

````
REPORT /owncloud/remote.php/caldav/calendars/mike/testcal1/ HTTP/1.1
...

<?xml version="1.0" encoding="utf-8"?>
<C:calendar-query xmlns:C="urn:ietf:params:xml:ns:caldav" xmlns:D="urn:DAV">
  <D:prop>
    <C:calendar-data>
      <C:expand start="20160101T000000Z" end="20160130T000000Z"/>
    </C:calendar-data>
  </D:prop>
  <C:filter>
    <C:comp-filter name="VCALENDAR">
      <C:comp-filter name="VEVENT">
        <C:time-range start="20160101T000000Z" end="20160130T000000Z"/>
      </C:comp-filter>
    </C:comp-filter>
  </C:filter>
</C:calendar-query>
````



Hi,

@MStrecke 

the issue tracker of the calendar app is located here:

https://github.com/owncloud/calendar/issues

Please re-open there using the issue template provided at:

https://github.com/owncloud/calendar/blob/master/CONTRIBUTING.md#short-version