DB error when upgrading calendar

Update to 9.1 pre alpha fails on oracle

```
Doctrine\DBAL\Exception\DriverException: An exception occurred while executing '
ALTER TABLE "oc_calendars"
MODIFY (
  "calendarorder" NUMBER(10) DEFAULT 0, 
  "components" VARCHAR2(20) DEFAULT NULL,
  "id" NUMBER(20) DEFAULT NULL,
  "synctoken" NUMBER(10) DEFAULT 1,
  "timezone" CLOB DEFAULT NULL
)': ORA-22296: invalid ALTER TABLE option for conversion of LONG datatype to LOB
```

timezone CLOB ? Who invented that? Have fun fixing this ...


What version of oC are you updating from? The timezone field has been a CLOB since 9.0.0: #22879

cc @LukasReschke 

it is my dev environment for oracle. Last time I used it I was testing 9.0.0. There it was VARCHAR(255) ... but I don't remember if i tested the migration. The problem with oracle is that you cannot just ALTER between VARCHAR and CLOB. Which is why we use varchar(4000) in core. Not a great solution, but one that works for now.

So where's the issue then when 9.0.0 also as CLOB? Only existent if somebody upgrades from 9.0.0 Beta or so to 9.0.0 final which should be expected :see_no_evil: 

Converting from TEXT (VARCHAR) to CLOB ar the other way around is a problem for oracle. I don't care when it was introduced. It breaks migrations and requires ugly and performance hitting hacks like https://github.com/owncloud/core/blob/d6ee1798cc5f9a641344f9e81bd3d770c6875e58/lib/private/allconfig.php#L410 and https://github.com/owncloud/core/blob/d6ee1798cc5f9a641344f9e81bd3d770c6875e58/apps/user_ldap/lib/helper.php#L67 introduced by me because nobody had a better idea: https://github.com/owncloud/core/pull/3650 The only alternative seems to be using varchar 4000 for now: https://github.com/owncloud/core/pull/15058#issuecomment-85711167

If it is in since 9.0.0 then a fix (varchar 4k?) should be backported before this becomes EE code which makes oracle supported for core. But I guess nobody cares about customers using oracle ... so this won't get adressed, just like https://github.com/owncloud/core/blob/master/db_structure.xml#L39 https://github.com/owncloud/core/blob/master/db_structure.xml#L657
https://github.com/owncloud/core/blob/master/db_structure.xml#L1502 or https://github.com/owncloud/core/blob/master/db_structure.xml#L1695 

That being said ... why does it need to be CLOB anyway? Stackoverflows says 28 chars should be enough: http://stackoverflow.com/questions/12546312/max-length-of-tzname-field-timezone-identifier-name ? In https://github.com/owncloud/core/issues/22876 stores a whole `VCALENDAR` entry - the actual timezone is "Europe/Madrid". I am all for pragmatism ... but this seems ... less then pragmatic. 





> If it is in since 9.0.0 then a fix (varchar 4k?) should be backported before this becomes EE code which makes oracle supported for core. But I guess nobody cares about customers using oracle ... so this won't get adressed, just like

Pull Request welcome :wink: – I have no idea about Oracle.

cc @DeepDiver1975 @karlitschek 

> That being said ... why does it need to be CLOB anyway? Stackoverflows says 28 chars should be enough: http://stackoverflow.com/questions/12546312/max-length-of-tzname-field-timezone-identifier-name ? In #22876 stores a whole VCALENDAR entry - the actual timezone is "Europe/Madrid". I am all for pragmatism ... but this seems ... less then pragmatic.

That's an incorrect information. Apple clients store a _shitload_ more in that field :wink: – It was CLOB already before as well in the existing calendar and contacts app. 

```
\\"BEGIN:VCALENDAR\\r\\nVERSION:2.0\\r\\nPRODID:-\\\\/\\\\/Apple Inc.\\\\/\\\\/Mac OS X 10.11.3\\\\/\\\\/EN\\r\\nCALSCALE:GREGORIAN\\r\\nBEGIN:VTIMEZONE\\r\\nTZID:Europe\\\\/Madrid\\r\\nBEGIN:DAYLIGHT\\r\\nTZOFFSETFROM:+0100\\r\\nRRULE:FREQ=YEARLY;BYMONTH=3;BYDAY=-1SU\\r\\nDTSTART:19810329T020000\\r\\nTZNAME:CEST\\r\\nTZOFFSETTO:+0200\\r\\nEND:DAYLIGHT\\r\\nBEGIN:STANDARD\\r\\nTZOFFSETFROM:+0200\\r\\nRRULE:FREQ=YEARLY;BYMONTH=10;BYDAY=-1SU\\r\\nDTSTART:19961027T030000\\r\\nTZNAME:CET\\r\\nTZOFFSETTO:+0100\\r\\nEND:STANDARD\\r\\nEND:VTIMEZONE\\r\\nEND:VCALENDAR\\r\\n\\"
```

Also varchar 4000 seems like another ugly hack that may explode at some point at all other databases.

Also:

```
5.2.2.  CALDAV:calendar-timezone Property

   Name:  calendar-timezone

   Namespace:  urn:ietf:params:xml:ns:caldav

   Purpose:  Specifies a time zone on a calendar collection.

   Conformance:  This property SHOULD be defined on all calendar
      collections.  If defined, it SHOULD NOT be returned by a PROPFIND
      DAV:allprop request (as defined in Section 12.14.1 of [RFC2518]).

   Description:  The CALDAV:calendar-timezone property is used to
      specify the time zone the server should rely on to resolve "date"
      values and "date with local time" values (i.e., floating time) to
      "date with UTC time" values.  The server will require this
      information to determine if a calendar component scheduled with
      "date" values or "date with local time" values overlaps a CALDAV:
      time-range specified in a CALDAV:calendar-query REPORT.  The
      server will also require this information to compute the proper
      FREEBUSY time period as "date with UTC time" in the VFREEBUSY
      component returned in a response to a CALDAV:free-busy-query
      REPORT request that takes into account calendar components
      scheduled with "date" values or "date with local time" values.  In
      the absence of this property, the server MAY rely on the time zone
      of their choice.

   Note:  The iCalendar data embedded within the CALDAV:calendar-
      timezone XML element MUST follow the standard XML character data
      encoding rules, including use of &lt;, &gt;, &amp; etc. entity
      encoding or the use of a <![CDATA[ ... ]]> construct.  In the
      later case, the iCalendar data cannot contain the character
      sequence "]]>", which is the end delimiter for the CDATA section.







Daboo, et al.               Standards Track                    [Page 13]

RFC 4791                         CalDAV                       March 2007


   Definition:

         <!ELEMENT calendar-timezone (#PCDATA)>
         PCDATA value: an iCalendar object with exactly one VTIMEZONE
               component.

   Example:

   <C:calendar-timezone
       xmlns:C="urn:ietf:params:xml:ns:caldav">BEGIN:VCALENDAR
   PRODID:-//Example Corp.//CalDAV Client//EN
   VERSION:2.0
   BEGIN:VTIMEZONE
   TZID:US-Eastern
   LAST-MODIFIED:19870101T000000Z
   BEGIN:STANDARD
   DTSTART:19671029T020000
   RRULE:FREQ=YEARLY;BYDAY=-1SU;BYMONTH=10
   TZOFFSETFROM:-0400
   TZOFFSETTO:-0500
   TZNAME:Eastern Standard Time (US &amp; Canada)
   END:STANDARD
   BEGIN:DAYLIGHT
   DTSTART:19870405T020000
   RRULE:FREQ=YEARLY;BYDAY=1SU;BYMONTH=4
   TZOFFSETFROM:-0500
   TZOFFSETTO:-0400
   TZNAME:Eastern Daylight Time (US &amp; Canada)
   END:DAYLIGHT
   END:VTIMEZONE
   END:VCALENDAR
   </C:calendar-timezone>
```

> Converting from TEXT (VARCHAR) to CLOB ar the other way around is a problem for oracle. I don't care when it was introduced. It breaks migrations

What migration?

ownCloud 8.x: Table not there
ownCloud 9.x: Table there and being CLOB.

So at which point is CLOB converted to CHAR?

Currently none but it introduces another CLOB and I need to point out that they are problematic becose nobody else seems to care. I made my case. Feel free to close after you checked if any queries in core using that column require the to_char hack ...

- There is no migration where the column type is changed
- the timezone column is a pure data column just like all other calendar and card columns
- varchar(4000) is not acceptable because I don't want to limit the vcards and calendar data
- there is no need to query on these columns

-> case closed - THX