the creation/updating of ETag is still an issue of discussion (e.g. #20474).

i just had an idea, that might be a solution for the long run or completely rubbish right from the beginning ;-)

what about a structured ETag? - there is no [specification](https://tools.ietf.org/html/rfc7232#section-2.3) regarding the format ...

     opaque-tag = DQUOTE *etagc DQUOTE
     etagc      = %x21 / %x23-7E / obs-text
                ; VCHAR except double quotes, plus obs-text

      Note: Previously, opaque-tag was defined to be a quoted-string
      ([RFC2616], Section 3.11); thus, some recipients might perform
      backslash unescaping.  Servers therefore ought to avoid backslash
      characters in entity tags.

... nor does it limit it's length (which should still be reasonable short, of course).

just to bring in an idea on how a structured ETag might be of further consideration in order so solve certain issues (eg. regarding files on remote storage).

so what if ETag would be generated according to the following rule 

    ETag              = {version} ; {component} [ ; {component} [ , ... ] ]

    version           = "ocs3"
                      ; 3 could be relating to the next version of the 
                      ; "Open Cloud Service" Specification (#21172)
    
    component         = {content} [ , {content} ] = {hash_algorithm} [ , {content_divider} , ] {hash}
    
    content           = [A-Z0-9] 
                      ; (case insensitive)
                      ; a numeric, alphanumeric or hexadecimal identifier code for what is content is
                      ; regarded to build up the {hash}
                      ; multiple contents are listed in order they are processed when hashing
                      ; codes need to be specified elsewhere. each code also needs to specify
                      ; - how specific content (e.g. dates) is formatted
                      ; -  if content is altered in any way (e.g.. encoding) before hashing
    
    hash_algorithm    = sha1 | md5 | ...
                      ; hash algorithm used for {hash} generation
    
    content_divider   = url-encoded string 
                      ; that is added between every two contents during {hash} generation.
                      ; optional. if missing or has zero length, nothing is added between two contents
    
    hash              = etagc without ";" or "\"
                      ; terminated by ";" to be sure it is complete

so there could be one component for meta-data, and an other for the file content, if available.

the content-codes could be part of the [OCS v2 draft 1 specification](http://www.open-collaboration-services.org/ocs/ocs2-draft1.html) (see also #21172)

the client could interpret the information accordingly, if required.
also, the server might reply with e.g. [`204 No Content`](http://tools.ietf.org/html/rfc7231#section-6.3.5) if the content-component of the If-Match ETag idicates, that the content itself did not change, but the meta-data did. a [`206 Partial Content`](http://tools.ietf.org/html/rfc7233#section-4.1) would also be cool, with `Content-Range: bytes 0/*`, but not sure if that is allowed without having the client sent a [`Range`](http://tools.ietf.org/html/rfc7233#section-3.1) header. in either case, the client might then do a PROPFIND to update the metadata, or resend the request without `If-Match` in order to get the content anyway.

furthermore it might be possible to generate the ETag on-the-fly on the server side, based on the ETag received by the client, or at least to respect only those `{component(s)}` included in the client's ETag request. by this, the client could specificity send a [`HEAD`](http://tools.ietf.org/html/rfc7231#section-4.3.2) in order to find if meta-data or the file-content has changed.


-----

PS: I don't know how much it makes sense to comment on an old issue and whether or not this comment will still regarded. on the other hand, this issue has been closed with no published obvious reason. of course i can open a new ticket, if requred, but i like to avoid creating more zombie issues as there are already many of them having a discussion, no conclusion, no update, and not closed ... ;-)

